<html>
<head>
	<title>Website | {% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<script src="/js/modernizr.js"></script>
</head>
<body>
	{% include 'admin/templates/partials/nav.twig' %}
	{% include 'admin/templates/partials/messages.twig' %}
	<div class="row">

		<p>Admin</p>
		{% block content %}{% endblock %}
	</div>
	<script src="/js/app.js" type="text/javascript"></script>
</body>
</html>