{% extends 'templates/main.twig' %}

{% block title %}

{{ title }}

{% endblock title %}

{% block content %}

Store front
<br>
{% for category in categories %}
    
	<a href="{{ urlFor('category', {slug: category.slug}) }}" title="">{{ category.name }}</a>
	<hr>

{% endfor %}

{% endblock content %}